<% title "New Projects" %>
<div class="stage rounded-top-5" style="margin-bottom: 15px;">
    <div class="user-tasks">
        <div class="header rounded-top-5">
            <span style="float: left;">New Project</span><br>
            <div class="clear"></div>
        </div>
        <div class="pad-25">
            <%= render :partial => 'form' %>
            <p><%= link_to "Back to List", projects_path %></p>
        </div>
    </div>
</div>
<div class="sidebar">

</div>